@import "../../../../styles/colors.module.scss";

.header {
    background-color: black;
}

.headerContainer    {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0px;
    gap: 16px;
}

.headerLogo {
    width: 150px;
    cursor: pointer;
}

.headerBtn:hover    {
    color: $lightGray;
    border-color:$goldenYellow;
    background-color: transparent;
}

@media (max-width: 575px) {
    .headerContainer {
        padding: 20px 26px;
        gap: 20px;
    }
}

@media (max-width: 402px) {
    .headerContainer {
        justify-content: center;
    }
}